<!-- <p><%= comentario.name %></p>
<p><%= comentario.body %></p>
<p><%= time_ago_in_words(comentario.created_at) %></p>

<p> <%= link_to 'Delete',[comentario.film,comentario],method: :delete, data: {confirm: 'Are you sure'} %></p>
 -->