.newsandfeatures1 {
    background-color: #ffff00;
    height: 50px;
    width: 50%;
    text-align: center;
}

.newsandfeatures3{
	background-color: #ffff00;
    height: 50px;
    width: 50%;
    text-align: center;
}
